<h3>Name of Applicant: <%= @application.name %></h3>
<h3><i>Status: <%= @application.status %></i></h3>
<h3>Address: <%= @application.address %></h3>
<p>Description: <%= @application.description %></p>